<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/JobCostProReactTest/assets/JCP.2298505f.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Job Cost Pro</title>
  <script type="module" crossorigin src="/JobCostProReactTest/assets/index.4fd4fb16.js"></script>
  <link rel="stylesheet" href="/JobCostProReactTest/assets/index.23cd68ce.css">
</head>

<body>
  <div id="root"></div>
  
</body>

</html>